<div class="main-container">
  <div class="sec-container">
    <h2>Fight</h2>
    <img height="128" width="128" src="../../assets/smash_bros.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit ipsum ac enim iaculis, non.</p>
  </div>
  <div class="sec-container">
    <h2>Record</h2>
    <img height="96" width="96" src="../../assets/notepad.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit ipsum ac enim iaculis, non.</p>
  </div>
  <div class="sec-container">
    <h2>Improve</h2>
    <img height="96" width="96" src="../../assets/graph.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit ipsum ac enim iaculis, non.</p>
  </div>
</div>